/* src/components/orb/OrbCanvas.module.css */

.container {
  width: 100%;
  aspect-ratio: 1;
  max-width: 400px;
  margin: var(--space-sm) auto;
  position: relative;
  touch-action: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 440px;
  }
}
