/* src/components/common/BasePage.module.css */

.page {
  min-height: 100%;
  padding-bottom: calc(var(--bottom-nav-height) + var(--safe-bottom) + var(--space-xl));
  padding-top: var(--safe-top);
  position: relative;
  overflow: visible;
  background-color: #FDFCFB;
  background-color: var(--colour-bg);
}
